#wrapper
  #top
    #left
      = render 'widget', :system_name => 'live_connection', :no_frame => true
      = render 'widget', :system_name => 'world_kli', :no_frame => true
    #right
      = render 'widget', :system_name => 'announcements', :no_frame => true
      = render 'widget', :system_name => 'facebook_connection'
      = render 'widget', :system_name => 'custom_links'
  .clear
  #middle
    = render 'widget', :system_name => 'instructions', :no_frame => true