#wrapper
  #top
    #left
      .main_event
        - widget = @widgets[:live_connection]
        %h1= widget.title
        .content!= widget.content
      .world_kli
        - widget = @widgets[:world_kli]
        %h1= widget.title
        .content!= widget.content
    #right
      .announcements
        - widget = @widgets[:announcements]
        %h1= widget.title
        .content!= widget.content
      .facebook_connection
        - widget = @widgets[:facebook_connection]
        %h1= widget.title
        .content!= widget.content
